In [52]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [53]:
data = pd.read_csv('Data\Clustered_data.csv')
print(data.shape)
data.head()

(388, 10)

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
0,James Harden,HOU,G,6,2.931592,1.522749,1.354774,-1.229530,-0.348220,-1.421312
1,Paul George,OKC,F,6,2.372402,0.913623,-1.497582,-0.836698,0.295241,0.380116
2,Giannis Antetokounmpo,MIL,F,1,1.376769,2.275728,-0.380252,-1.284083,-0.161401,-0.719837
3,Joel Embiid,PHI,F-C,1,0.702359,3.123232,-0.597765,0.038549,-0.135015,-1.363184
4,LeBron James,LAL,F,6,1.957230,1.257717,0.474254,-1.624215,0.956039,-1.532015

We have 7 Clusters

In [54]:
data.describe().round(1)

       CLUSTER    PC1    PC2    PC3    PC4    PC5    PC6
count    388.0  388.0  388.0  388.0  388.0  388.0  388.0
mean       5.0   -0.0   -0.0    0.0   -0.0   -0.0    0.0
std        2.1    1.0    1.0    1.0    1.0    1.0    1.0
min        1.0   -2.2   -2.1   -2.3   -2.7   -3.3   -3.5
25%        3.0   -0.7   -0.7   -0.7   -0.7   -0.6   -0.7
50%        5.0   -0.1   -0.2   -0.0   -0.0   -0.1   -0.0
75%        6.0    0.6    0.5    0.6    0.6    0.4    0.6
max        8.0    2.9    3.5    3.2    3.6    5.7    3.5

In [55]:
data.groupby('CLUSTER').mean()

              PC1       PC2       PC3       PC4       PC5       PC6
CLUSTER
1        0.091334  1.884367 -0.525754 -0.300788 -0.851365 -0.269122
2       -1.254168  1.173279  0.741630  0.459303  0.269682 -0.060140
3        0.308488 -0.616709 -1.264813  1.431996  0.465607 -0.076242
4        0.365819 -0.067761  0.193473 -0.983806  2.529068  0.293747
5       -0.333446 -0.160568 -0.811543 -0.486182 -0.189518  0.703106
6        1.180289 -0.026847  0.383642  0.220926 -0.211537 -0.001944
7       -0.655424 -0.724626 -0.552281 -0.619717  0.028281 -1.538952
8       -0.109761 -0.866907  1.043743 -0.197320 -0.280313 -0.127393

In [56]:
minmax_scale = MinMaxScaler()
data_mean = data.groupby('CLUSTER').mean()
minmax_data = minmax_scale.fit_transform(data_mean)
minmax_data = pd.DataFrame(minmax_data, columns = data_mean.columns.tolist())
minmax_data

        PC1       PC2       PC3       PC4       PC5       PC6
0  0.552691  1.000000  0.320139  0.282729  0.000000  0.566368
1  0.000000  0.741542  0.869134  0.597363  0.331628  0.659578
2  0.641891  0.090939  0.000000  1.000000  0.389587  0.652396
3  0.665441  0.290464  0.631688  0.000000  1.000000  0.817418
4  0.378204  0.256732  0.196344  0.205987  0.195788  1.000000
5  1.000000  0.305335  0.714064  0.498689  0.189274  0.685535
6  0.245945  0.051715  0.308648  0.150712  0.260217  0.000000
7  0.470087  0.000000  1.000000  0.325559  0.168929  0.629582

# Analysis of each cluster:
### Cluster 1:
Cluster 1 seems to have high positive values for stats PC3, defense PC3, hustle PC3, shooting PC2, shooting PC3, play PC1, play PC1, play PC3 and play PC4. It has high negative values for stats PC2, defense PC2, hustle PC1, shooting PC1, shooting PC4 and passing PC1.

In [57]:
data[data['CLUSTER'] == 1].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
2,Giannis Antetokounmpo,MIL,F,1,1.376769,2.275728,-0.380252,-1.284083,-0.161401,-0.719837
3,Joel Embiid,PHI,F-C,1,0.702359,3.123232,-0.597765,0.038549,-0.135015,-1.363184
9,Anthony Davis,NOP,F-C,1,0.949306,2.669166,-0.928922,-0.685795,0.217468,-1.183368
14,Karl-Anthony Towns,MIN,C,1,0.516491,2.859344,-0.934771,-0.243467,-0.878217,-0.392673
20,Julius Randle,NOP,C-F,1,0.624752,1.607340,-0.698850,-1.650037,-0.913432,0.813861

We have 7 clusters

In [58]:
data[data['CLUSTER'] == 2].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
50,Andre Drummond,DET,C,2,-0.679270,3.063173,0.470392,0.243947,0.688466,0.961320
58,Clint Capela,HOU,C,2,-0.862495,3.077544,0.015332,1.010098,2.346754,0.252322
59,Montrezl Harrell,LAC,F-C,2,-0.599838,2.283150,0.127944,0.106633,1.312895,0.814507
62,Deandre Ayton,PHX,C,2,-0.526141,2.970610,0.699331,0.633179,-0.964658,0.492925
67,Rudy Gobert,UTA,C,2,-1.226661,3.497759,0.202235,1.476063,1.770128,0.681787

In [59]:
data[data['CLUSTER'] == 3].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
5,Stephen Curry,GSW,G,3,2.177599,0.280973,-1.608861,1.707142,1.908809,-0.013228
19,Klay Thompson,GSW,G,3,1.292709,0.264576,-2.343909,2.294463,0.710820,0.248599
30,Buddy Hield,SAC,G,3,1.363537,0.151153,-1.676813,0.655458,0.724353,0.575770
46,JJ Redick,PHI,G,3,0.834464,-0.695760,-1.524316,3.383426,2.674407,-0.234928
49,Bojan Bogdanovic,IND,F,3,0.876298,0.015112,-1.503156,1.167468,0.092875,-0.114975

In [60]:
data[data['CLUSTER'] == 4].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
11,Kemba Walker,CHA,G,4,2.513660,0.376229,0.520219,-0.121190,2.527286,-0.003805
13,Blake Griffin,DET,F,4,1.440265,1.373840,-0.009154,-2.118203,2.481937,0.942435
37,Victor Oladipo,IND,G,4,2.549020,0.181690,0.448866,-1.552114,2.674552,1.328971
45,Tim Hardaway Jr.,DAL,G,4,1.112164,-0.137598,-0.902156,-0.279454,2.637467,-0.333976
63,DeMarcus Cousins,GSW,C,4,0.461363,1.851978,-0.217265,-1.895965,1.988688,-0.050651

In [61]:
data[data['CLUSTER'] == 5].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
34,Danilo Gallinari,LAC,F,5,0.788790,0.600053,-1.064743,-0.086608,0.764108,-0.871366
38,Lauri Markkanen,CHI,F,5,0.275926,0.930452,-1.323966,-0.021648,-0.263900,0.212460
40,Kyle Kuzma,LAL,F,5,0.495965,0.798724,-0.779085,0.211272,0.168196,0.381454
44,Andrew Wiggins,MIN,F-G,5,1.193119,0.516490,-0.657511,-0.396281,-0.154241,0.047751
48,T.J. Warren,PHX,F,5,0.812577,0.286003,-1.391652,-0.621298,-0.749893,0.169538

In [62]:
data[data['CLUSTER'] == 6].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
0,James Harden,HOU,G,6,2.931592,1.522749,1.354774,-1.229530,-0.348220,-1.421312
1,Paul George,OKC,F,6,2.372402,0.913623,-1.497582,-0.836698,0.295241,0.380116
4,LeBron James,LAL,F,6,1.957230,1.257717,0.474254,-1.624215,0.956039,-1.532015
6,Kawhi Leonard,TOR,F,6,2.128525,1.035669,-0.645141,-0.592090,-1.497543,-0.395667
7,Devin Booker,PHX,G,6,1.939104,0.662536,1.081743,0.191984,-0.433708,-0.339943

In [63]:
data[data['CLUSTER'] == 7].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
109,Kevin Knox II,NYK,F,7,0.208800,-0.396864,-0.548152,-0.714141,0.089770,-0.962875
182,Markieff Morris,OKC,F,7,-0.646437,0.090945,-0.294557,-0.358616,-0.556499,-1.296065
183,JaMychal Green,LAC,F,7,-0.688872,-0.138422,-0.575412,-0.971658,-0.001714,-1.435504
195,Malik Monk,CHA,G,7,0.006543,-0.942696,-0.161646,0.338265,0.772726,-1.641983
204,Frank Kaminsky,CHA,F-C,7,-0.854220,0.324478,-0.800292,-1.040062,-0.099800,-1.169300