In [40]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [41]:
data = pd.read_csv('Data\Clustered_data.csv')
print(data.shape)
data.head()

(388, 10)

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
0,James Harden,HOU,G,7,-0.885136,3.422465,-1.621294,0.948575,-1.099479,-2.343132
1,Paul George,OKC,F,8,-0.890508,2.411931,1.302698,-0.441489,-1.089950,-0.281768
2,Giannis Antetokounmpo,MIL,F,7,0.708961,2.609108,-0.086844,-1.719613,-1.099307,-1.959700
3,Joel Embiid,PHI,F-C,1,1.700382,2.712573,0.671696,1.738021,-0.219439,0.719804
4,LeBron James,LAL,F,7,-0.307667,2.364341,-0.870264,-0.160012,-0.929572,-2.150918

We have 7 Clusters

In [42]:
data.describe().round(1)

       CLUSTER    PC1    PC2    PC3    PC4    PC5    PC6
count    388.0  388.0  388.0  388.0  388.0  388.0  388.0
mean       4.6    0.0    0.0    0.0    0.0   -0.0    0.0
std        2.1    1.0    1.0    1.0    1.0    1.0    1.0
min        1.0   -1.4   -2.0   -2.3   -2.7   -2.7   -2.5
25%        3.0   -0.8   -0.8   -0.8   -0.6   -0.7   -0.6
50%        5.0   -0.3   -0.1    0.1    0.0   -0.1    0.0
75%        6.0    0.6    0.7    0.7    0.6    0.7    0.6
max        8.0    3.1    3.4    2.7    3.3    3.8    3.2

In [43]:
data.groupby('CLUSTER').mean()

              PC1       PC2       PC3       PC4       PC5       PC6
CLUSTER
1        1.433221  0.807738  0.314100  1.694060 -0.028986  0.262235
2        1.663214 -0.162279 -0.488651 -0.639146  0.611367 -0.351145
3       -0.808923 -0.312480  0.847472  0.064804  1.420500  0.276753
4       -0.128419 -0.826776  0.076218 -0.416456 -0.410465 -0.562012
5       -0.085692  0.062514  1.076428 -0.090548 -0.506836  0.119043
6       -0.471060 -0.819563 -1.350117  0.818689  0.006772  0.499706
7       -0.719421  1.742392 -0.761756  0.142731  0.000768 -0.985747
8       -0.748950  0.721111 -0.578905 -0.426254 -0.273819  0.752118

In [44]:
minmax_scale = MinMaxScaler()
data_mean = data.groupby('CLUSTER').mean()
minmax_data = minmax_scale.fit_transform(data_mean)
minmax_data = pd.DataFrame(minmax_data, columns = data_mean.columns.tolist())
minmax_data

        PC1       PC2       PC3       PC4       PC5       PC6
0  0.906966  0.636204  0.685838  1.000000  0.247933  0.718112
1  1.000000  0.258643  0.355018  0.000000  0.580181  0.365162
2  0.000000  0.200180  0.905645  0.301709  1.000000  0.726466
3  0.275269  0.000000  0.587805  0.095443  0.050002  0.243825
4  0.292553  0.346139  1.000000  0.235126  0.000000  0.635717
5  0.136668  0.002808  0.000000  0.624821  0.266486  0.854757
6  0.036204  1.000000  0.242469  0.335109  0.263371  0.000000
7  0.024260  0.602486  0.317823  0.091244  0.120901  1.000000

# Analysis of each cluster:
### Cluster 1:
Cluster 1 seems to have high positive values for stats PC3, defense PC3, hustle PC3, shooting PC2, shooting PC3, play PC1, play PC1, play PC3 and play PC4. It has high negative values for stats PC2, defense PC2, hustle PC1, shooting PC1, shooting PC4 and passing PC1.

In [45]:
data[data['CLUSTER'] == 1].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
3,Joel Embiid,PHI,F-C,1,1.700382,2.712573,0.671696,1.738021,-0.219439,0.719804
9,Anthony Davis,NOP,F-C,1,1.236315,2.579160,0.733884,1.043634,-0.683206,0.066982
14,Karl-Anthony Towns,MIN,C,1,1.744433,2.364006,0.995082,2.442603,-0.567570,0.540336
21,LaMarcus Aldridge,SAS,C-F,1,1.960305,2.001107,0.275611,3.316683,1.651875,0.320177
28,Nikola Vucevic,ORL,C,1,2.002284,2.224888,0.547447,3.014512,0.638088,0.961189

We have 7 clusters

In [46]:
data[data['CLUSTER'] == 2].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
50,Andre Drummond,DET,C,2,2.745549,1.589518,-0.270823,-1.038935,-1.107920,1.089439
58,Clint Capela,HOU,C,2,2.870142,1.152039,-0.419089,-2.680947,0.207584,2.139539
59,Montrezl Harrell,LAC,F-C,2,1.987095,1.102524,-0.212176,-0.540231,0.414095,0.263080
67,Rudy Gobert,UTA,C,2,3.128527,1.276017,-0.479629,-2.126986,1.036688,2.105248
91,Steven Adams,OKC,C,2,2.545855,1.210059,-0.769108,-1.472477,0.108584,1.917828

In [47]:
data[data['CLUSTER'] == 3].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
5,Stephen Curry,GSW,G,3,-1.145557,1.970408,1.401391,-0.259182,1.693296,1.105336
19,Klay Thompson,GSW,G,3,-0.810046,1.321594,2.678729,0.544248,2.799067,-0.220348
27,CJ McCollum,POR,G,3,-1.045642,1.527598,0.348045,0.159412,3.007344,1.167013
46,JJ Redick,PHI,G,3,-1.232500,0.347590,1.856907,0.077765,3.835563,1.200237
78,Evan Fournier,ORL,G-F,3,-0.975394,0.742000,0.194824,-0.172537,2.039042,1.503322

In [48]:
data[data['CLUSTER'] == 4].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
137,Darren Collison,IND,G,4,-1.215894,0.651650,-0.812430,-1.068004,-0.632418,0.015298
138,Rodney Hood,POR,G,4,-0.673058,-0.233236,-0.073056,0.985289,0.029186,-0.979038
148,Allonzo Trier,NYK,G,4,-0.681839,-0.169964,-0.299102,0.053534,0.279132,-1.188147
164,Tyreke Evans,IND,G,4,-0.823107,-0.022912,-0.565930,0.151501,-0.421559,-0.742018
183,JaMychal Green,LAC,F,4,0.675251,-0.452780,0.822046,0.126218,-1.028874,-1.707167

In [49]:
data[data['CLUSTER'] == 5].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
20,Julius Randle,NOP,C-F,5,0.646432,1.537726,0.700066,0.495239,-0.962285,-1.036369
30,Buddy Hield,SAC,G,5,-0.861991,1.146348,1.886354,-0.551442,0.567147,0.187014
32,Tobias Harris,PHI,F,5,-0.193366,1.449559,1.004438,0.654475,0.427395,-0.550261
34,Danilo Gallinari,LAC,F,5,-0.076052,1.130464,1.161193,1.417327,0.490772,-0.135640
35,John Collins,ATL,F-C,5,1.563363,1.003331,1.060967,-0.334233,-0.869182,-1.081470

In [50]:
data[data['CLUSTER'] == 6].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
106,Cedi Osman,CLE,F,6,-0.126930,-0.355441,-0.826337,1.538039,-1.002442,2.454074
144,J.J. Barea,DAL,G,6,-1.205997,0.285112,-2.213960,0.828842,1.177516,-0.359608
168,Kadeem Allen,NYK,G,6,-0.773149,-0.138457,-1.106983,0.168764,-0.813136,-0.309221
178,Jeremy Lin,TOR,G,6,-0.757983,-0.060321,-1.215518,0.014851,-0.135098,0.323270
180,Tony Parker,CHA,G,6,-0.963311,-0.231625,-2.283672,0.652831,1.498004,-1.414960

In [51]:
data[data['CLUSTER'] == 7].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
0,James Harden,HOU,G,7,-0.885136,3.422465,-1.621294,0.948575,-1.099479,-2.343132
2,Giannis Antetokounmpo,MIL,F,7,0.708961,2.609108,-0.086844,-1.719613,-1.099307,-1.959700
4,LeBron James,LAL,F,7,-0.307667,2.364341,-0.870264,-0.160012,-0.929572,-2.150918
6,Kawhi Leonard,TOR,F,7,-0.680197,2.279996,0.241009,0.318551,-0.273696,-1.728965
7,Devin Booker,PHX,G,7,-0.947699,2.022397,-0.645411,0.944556,0.899081,-1.629313

In [52]:
data[data['CLUSTER'] == 8].head()

,PLAYER,TEAM,POSITION,CLUSTER,PC1,PC2,PC3,PC4,PC5,PC6
1,Paul George,OKC,F,8,-0.890508,2.411931,1.302698,-0.441489,-1.089950,-0.281768
11,Kemba Walker,CHA,G,8,-1.395522,2.077465,-0.386905,0.227227,0.155480,0.951971
12,Bradley Beal,WAS,G,8,-0.980142,2.206646,0.681754,-0.872895,-0.147017,0.068251
24,Jrue Holiday,NOP,G,8,-0.871544,2.183834,-0.606214,-1.236335,-0.785346,0.145187
26,Mike Conley,MEM,G,8,-1.279614,1.784155,-0.598633,0.057251,0.547628,0.915755

In [59]:
stats = pd.read_csv('Data/Regular-Advanced.csv')
stats = stats.merge(data[['PLAYER', 'TEAM', 'POSITION', 'CLUSTER']])
stats = stats[['PLAYER', 'TEAM', 'POSITION', 'PTS', 'FG%', '3P%', 'OREB', 'DREB', 'AST', 'STL', 'BLK', 'CLUSTER']]

defense = pd.read_csv('Data/Defensive.csv')
defense = defense.merge(data[['PLAYER', 'TEAM', 'POSITION', 'CLUSTER']])
defense = defense[['PLAYER', 'TEAM', 'POSITION', '<6_DFGM', '6-9_DFGM', '10-15_DFGM', '16-3PT_DFGM', '3PT_DFGM', 'CLUSTER']]

shooting = pd.read_csv('Data/Shooting.csv')
shooting = shooting.merge(data[['PLAYER', 'TEAM', 'POSITION', 'CLUSTER']])
shooting = shooting[['PLAYER', 'TEAM', 'POSITION', 'FGM_<5', 'FGM_5-9', 'FGM_10-14', 'FGM_15-19', 'FGM_20-24', 'FGM_25-29', 'CLUSTER']] 

play_type = pd.read_csv('Data/Play Type.csv')
play_type = play_type.merge(data[['PLAYER', 'TEAM', 'POSITION', 'CLUSTER']])
play_type = play_type[['PLAYER', 'TEAM', 'POSITION', 'ISOLATION_FREQ', 'PNR_HANDLER_FREQ', 'PNR_ROLL_FREQ', 'TRANSITION_FREQ',
                       'POST_UP_FREQ', 'SPOT_UP_FREQ', 'HANDOFF_FREQ', 'CUT_FREQ', 'OFF_SCREEN_FREQ', 'PUTBACK_FREQ', 'CLUSTER']]

In [62]:
stats.groupby('CLUSTER').mean()

,PTS,FG%,3P%,OREB,DREB,AST,STL,BLK
CLUSTER,,,,,,,,
1,14.476667,49.416667,30.583333,2.150000,6.173333,2.263333,0.680000,0.986667
2,8.312245,56.606122,14.587755,2.012245,4.048980,1.277551,0.561224,0.824490
3,10.115789,42.678947,37.413158,0.376316,2.065789,1.765789,0.555263,0.184211
4,6.164865,43.931081,33.094595,0.675676,2.277027,1.352703,0.632432,0.317568
5,11.623377,43.674026,35.775325,0.937662,3.707792,1.667532,0.793506,0.525974
6,6.209756,39.658537,30.787805,0.441463,1.907317,2.439024,0.507317,0.212195
7,21.575000,46.453571,32.753571,0.921429,4.685714,5.975000,1.164286,0.475000
8,13.084314,43.872549,34.776471,0.733333,3.301961,4.545098,1.098039,0.382353

In [63]:
defense.groupby('CLUSTER').mean()

          <6_DFGM  6-9_DFGM  10-15_DFGM  16-3PT_DFGM  3PT_DFGM
CLUSTER
1        3.173333  0.686667    0.370000     0.530000  0.963333
2        2.446939  0.500000    0.287755     0.444898  0.759184
3        1.218421  0.339474    0.268421     0.392105  1.071053
4        1.251351  0.275676    0.194595     0.271622  0.908108
5        2.019481  0.433766    0.253247     0.424675  1.358442
6        1.095122  0.304878    0.248780     0.358537  0.836585
7        1.746429  0.375000    0.307143     0.446429  1.539286
8        1.717647  0.425490    0.378431     0.550980  1.507843

In [64]:
shooting.groupby('CLUSTER').mean()

           FGM_<5   FGM_5-9  FGM_10-14  FGM_15-19  FGM_20-24  FGM_25-29
CLUSTER
1        2.980000  0.770000   0.443333   0.406667   0.343333   0.610000
2        2.632653  0.283673   0.130612   0.093878   0.085714   0.085714
3        0.968421  0.215789   0.231579   0.368421   0.828947   1.052632
4        1.171622  0.150000   0.114865   0.117568   0.398649   0.367568
5        1.774026  0.296104   0.253247   0.241558   0.753247   0.874026
6        0.904878  0.204878   0.187805   0.204878   0.348780   0.441463
7        3.407143  0.703571   0.864286   0.764286   0.703571   1.260714
8        2.035294  0.413725   0.407843   0.392157   0.627451   0.919608

In [65]:
play_type.groupby('CLUSTER').mean()

,ISOLATION_FREQ,PNR_HANDLER_FREQ,PNR_ROLL_FREQ,TRANSITION_FREQ,POST_UP_FREQ,SPOT_UP_FREQ,HANDOFF_FREQ,CUT_FREQ,OFF_SCREEN_FREQ,PUTBACK_FREQ
CLUSTER,,,,,,,,,,
1,0.031467,0.004833,0.191700,0.079733,0.199600,0.163533,0.003833,0.105733,0.015933,0.050500
2,0.018061,0.003980,0.216163,0.095388,0.082714,0.087122,0.000592,0.212020,0.002837,0.101755
3,0.027184,0.149053,0.003368,0.157289,0.004474,0.273132,0.120737,0.037947,0.137921,0.006500
4,0.028703,0.112581,0.026014,0.185554,0.013527,0.321135,0.030054,0.078500,0.018716,0.024486
5,0.038922,0.077857,0.052104,0.181870,0.044558,0.316481,0.042519,0.059182,0.058558,0.024429
6,0.046000,0.250317,0.010317,0.103146,0.000000,0.160634,0.034951,0.007415,0.003341,0.004634
7,0.145393,0.320750,0.007214,0.168214,0.055679,0.098071,0.053571,0.033107,0.042429,0.014750
8,0.069020,0.311275,0.004647,0.171118,0.015706,0.193275,0.063216,0.031549,0.031980,0.005608